<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-light border border-primary rounded-3">
        <h4>Login As</h4>
        <br><br>
        <a href="teacher"><button class="btn btn-sm btn-outline-primary me-2">Teacher</button></a>
        <a href="student"><button class="btn btn-sm btn-outline-primary me-2">Student</button></a>
    </div>
</body>
</html>