<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Result</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/studentResult.css">
</head>
<body>
    <div id="main">
    <table class="table table-striped table-secondary">
        <thead>
            <tr>
                <th>Roll No.</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= rollNo %> </td>
                <td><%= name %></td>
                <td><%= score %></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/" style="color:blue">..back to homepage</a>
</div>
</body>
</html>